.card_details > h1{
    margin-top: 40px;
    font-size: 1rem;
}

.card > img{
    width: 25%;
    margin: 40px;
    border-radius: 5px;
    transition: transform 350ms;
}
.card > img:hover{
    transform: scale(1.12);
    margin: 40px;
}
.card{
    margin-bottom: 10px;
    border-radius: 10px;
    width: 75%;
    display: flex;
    background-color: #d8e3e7;
}

.card_removeBtn{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
    height: 35px;
    width: 35px;
    font-weight: 800;
    background-color: #d8e3e7;
    border-radius: 3px;
    color: #51c4d3;
    border: 2px solid #51c4d3;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    margin-left: auto;
    order: 2;
}

.card_price{
    margin-top: 15px;
    font-weight: 500;
    font-size: 2rem;
}
