.card_details > h1{
    font-size: 1rem;
}

.card > img{
    height: 250px;
    margin: 40px;
    border-radius: 5px;
    transition: transform 350ms;
}
.card > img:hover{
    transform: scale(2);
    margin: 40px;
}
.card{
    margin-bottom: 10px;
    border-radius: 10px;
    
    display: flex;
    background-color: #d8e3e7;
}

.card_removeBtn{
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    font-weight: 800;
    background-color: #51c4d3;
    border-radius: 3px;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    margin-left: auto;
    order: 2;
}

.card_price{
    margin-top: 15px;
    font-weight: 500;
    font-size: 2rem;
}
