.header{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    margin: 0;
    padding: 0;
}

.header_video{
    position:absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.header_content{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 40%;
    top:30%;
    color: white;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    
}

.header_content > h1{
    font-size: 3.125rem;
}
.header_content > h2{
    font-size: 2rem;
    font-weight: normal;
}

.header_buttons{
    margin-top: 10%;
}

.header_buttons > button{
    padding: 10px 20px;
    font-size: 1rem;
    width: 25%;
    color: white;
    background-color: grey;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 5px;
}

.header_buttons > button:hover{
    border: 2px solid white;
}

.header_buttonPlayer{
    margin-right: 15%;
}