.searchSummary{
    right: 10px;
    bottom: 40px;
    background-color: #d8e3e7;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
}

.searchSummary > h1{
    font-size: 1.2rem;
}
.searchSummary_prices > h2{
    font-size: 1.1rem;
}